{block #content} 
  	<link rel="stylesheet" type="text/css" href="{$basePath}/style/homepage/default.css">

	<h1 n:block="members_title">Members</h1> 

	<a class="link" href="./member/form">Form</a>
	<a class="link" href="./member/grid">Grid</a>

	<h1 n:block="teams_title">Teams</h1> 

	<a class="link" href="./team/form">Form</a>
	<a class="link" href="./team/grid">Grid</a>
		